/* Carrusel de proyectos de punta a punta */
#projects-carousel {
  margin-top: -10px !important;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;  
  margin-right: -50vw; 
  height: auto;
  overflow: hidden;
}

#projects-carousel img {
  width: 100%;         
  height: auto;        
  display: block;      
  object-fit: cover;
}

/* Mobile */
@media (max-width: 768px) {
  #projects-carousel {
    width: 100vw;
    height: 110%;
    position: relative;
    left: 0 !important;    
    margin-left: -10px !important;
    margin-right: -10px !important;
  }
}

/* Controles del carrusel */
#projects-carousel .carousel-control-prev,
#projects-carousel .carousel-control-next {
  width: 5%;
  opacity: 0.7;
}

#projects-carousel .carousel-control-prev:hover,
#projects-carousel .carousel-control-next:hover {
  opacity: 1;
}

/* Indicadores */
/* #projects-carousel .carousel-indicators {
  bottom: 20px;
} */

/* #projects-carousel .carousel-indicators button {
  background-color: #fff;
  opacity: 0.5;
  width: 12px;
  height: 12px;
  border-radius: 50%;
} */

/* #projects-carousel .carousel-indicators button.active {
  opacity: 1;
} */