.logo-slider {
      overflow: hidden;
      white-space: nowrap;
      position: relative;
      width: 100%;
      padding: 10px 0;
      /* background: #f8f9fa; */
    }

    .logo-track {
      display: inline-flex;
      animation: scroll-left 30s linear infinite;
    }

    .client-logo {
      flex: 0 0 auto;
      width: 220px;
      margin: 0 10px;
      text-align: center;
    }

    .client-logo img {
      height: auto;
      max-width: 200px;
      filter: brightness(0) invert(1) !important;
      opacity: 0.8;
      transition: filter 0.3s ease, opacity 0.3s ease;
    }

    .client-logo img:hover {
      filter: none !important; /* fuerza quitar el filtro */
      opacity: 1; /* mejor que 0.5 para que se vea bien */

    }

    /* Animación de deslizamiento */
    @keyframes scroll-left {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      }
    }

    /* Pausar al hacer hover */
    .logo-slider:hover .logo-track {
      animation-play-state: paused;
    }